<div id="aboutme">

    <h2 id="header">ارشیا رضایی</h2>
    <br />
    <p>برنامه نویس متوسط دات نت باانگیزه خلاق  با روحیه کار تیمی  دانشجوی کارشناسی نرم افزار با تجربه در انجام انواع پروژه های فریلنسری تحت دسکتاپ و تحت وب </p>
    <br />
    <p>مهارت های فعلی :</p>
    <br />
    <table class="table table-bordered" id="list">
        <tr>
            <th>عنوان</th>
            <th>میزان تسلط</th>
        </tr>
        <tr>
            <td>.NET</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>ASP.NET MVC</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>C#</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>BootStrap 5</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>HTML 5</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>CSS 3</td>
            <td class="primary">متوسط</td>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td class="warning">مقدماتی</td>
        </tr>
        <tr>
            <td>JQuery</td>
            <td class="warning">مقدماتی</td>
        </tr>
        <tr>
            <td>Windows Forms Desktop</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>WPF Desktop</td>
            <td class="success">پیشرفته</td>
        </tr>
        <tr>
            <td>SQL Server 2016</td>
            <td class="primary">متوسط</td>
        </tr>
        <tr>
            <td>Visual Studio 2022</td>
            <td class="success">پیشرفته</td>
        </tr>
    </table>
    <br />
    <p>1402/02/16</p>

</div>
<br />
<a id="btnBack" class="btn btn-primary btn-sm">بازگشت </a>

<script src="~/Content/js/backButton.js"></script>