<dl class="dl-horizontal" id="add-edit">

    <dt>نام : </dt>
    <dd>
        <input type="text" class="form-control" id="txtName" placeholder="نام ..." />
    </dd>

    <dt>
        <br />
        نام خانوادگی :
    </dt>
    <dd>
        <br />
        <input type="text" class="form-control" id="txtFamily" placeholder="نام خانوادگی ..." />
    </dd>

    <dt>
        <br />
        سن  :
    </dt>
    <dd>
        <br />
        <input type="number" class="form-control" id="txtNumber" placeholder="سن ..." />
    </dd>

    <dt></dt>
    <dd>
        <br />
        <input type="button" id="btnSave" class=" btn btn-success btn-block" value="ثبت اطلاعات " />
    </dd>


</dl>

<a id="btnBack" class="btn btn-primary btn-sm">بازگشت </a>

<script src="~/Content/js/backButton.js"></script>

<script src="~/Content/js/Add.js"></script>