
<div id="information">
    <h2 id="connect-header">ارتباط با اینجانب </h2>
    <br />
    <label>ایمیل : </label>
    <input type="email" value="rezayie200@gmail.com" class="form-control" />
    <br />
    <label>تلفن : </label>
    <input type="number" value="09052791464" class="form-control" />
    <br />
    <label>اینستاگرام : </label>
    <input type="text" value="arshiarezaie" class="form-control" />
    <br />
    <label>تلگرام : </label>
    <input type="text" value="arshiarezaie" class="form-control" />
    <br />
</div>


<br />
<a id="btnBack" class="btn btn-primary btn-sm">بازگشت </a>

<script src="~/Content/js/backButton.js"></script>
