
@{
    ViewBag.Title = "Index";
}

<br />
<a id="btnAdd" class="btn btn-success">افزودن</a>
<br />
<br />
<div id="view">
    please wait ...
</div>

@section Scripts{
    <script src="~/Content/js/Index.js"></script>
}
