<div id="information">

    <h2 id="header">پروژه مدیریت مخاطبین </h2>
    <ul>
        <li>سایت تک صفحه ای</li>
        <li>کاملا ریسپانسیو </li>
        <li>استفاده از Web Api </li>
        <li>استفاده از Jquery</li>
        <li>استفاده ا ز BootStrap</li>
        <li>استفاده از Ajax</li>
        <li>استفاده از Json</li>
        <li>توسعه داده شده با دات نت </li>
        <li>ASP.NET MVC</li>
        <li>SQL SERVER 2016</li>
        <li>Entity FrameWork Code First</li>
    </ul>
</div>
<br />
<a id="btnBack" class="btn btn-primary btn-sm">بازگشت </a>



<script src="~/Content/js/backButton.js"></script>