
<table class="table table-bordered" id="list">
    <tr>
        <th>آیدی</th>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>سن</th>
        <th>دستورات</th>
    </tr>
</table>



<script src="~/Content/js/List.js"></script>